.projectsContainer
    display: flex
    flex-direction: column
    justify-content: space-between
    background: #F8F8F8
    width: 100%
    padding: 100px 300px

.projectsTextContainer
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    margin: 0 0 100px 0
    h2
        color: #264653
    .lead
        margin: 40px 0
    
.colored
    color: #264653
    font-size: 2rem

.projectItemsContainer
    width: 100%
    display: flex
    flex-wrap: wrap
