.menuContainer
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 11

.menuText
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: flex-start
    background: white
    height: 100%
    width: 80%
    padding: 140px 300px

.menuPanel
    width: 20%
    height: 100%
    background: rgba(38,70,83,0.9)
