.speedContainer
    display: flex
    justify-content: space-between
    align-items: center
    background: #F8F8F8
    width: 100%
    padding: 140px 300px
    height: 100vh

.speedLeftContainer
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: flex-start
    height: 100%
    width: 50%

.speedTextContainer
    height: 100%
    width: 50%
    display: flex
    align-items: center
    justify-content: center
    h2
        color: #577590

    
.speedText
    width: 400px
